@import "../base/variables";

/*----------------HEADER----------------------*/
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    width: 100%;
    font-weight: 500;
    color: #412C25; // Color del texto del header
    background-color: #FEF9F5; // Color de fondo del header
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 1002;
  
    .container-fluid {
      background-color: #FEF9F5;
      padding: 0%;
      height: 100px;
      width: 100%;
    }
  
    .navbar {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }
  
    & .navbar {
      height: 100px;
      margin-top: 0%;
      padding: 0%;
    }
  
    nav li a {
      list-style: none;
      text-decoration: none;
    }
  
    nav li {
      width: 180px;
      position: relative;
    }
  
    nav ul {
      list-style: none;
      text-align: center;
    }
  
    nav ul ul {
      position: absolute;
      display: none;
      text-align: left;
    }
  
    a.nav-link:hover {
      color: #FAA51A;
    }
  
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
    }
  
    .dropdown-menu a.dropdown-item {
      color: #412C25;
      font-weight: 300;
    }
  
    a.dropdown-item:hover {
      background-color: #FAA51A;
    }
  
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 0;
      align-items: center;
    }
  
    .logoheader {
      width: 200px; // Ajusta el ancho del logo según las necesidades
      height: auto;
      margin: 0 50px 0 50px;
      border-radius: 50px;
      opacity: 1;
    }
  }
  