@import "../base/variables";

/* Estilos del Main */

/**----------------------------------------MAIN INDEX------------------------ **/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    grid-area: main;
    background-color: #ffff;
    margin: 0 auto;

    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 43rem;
        max-width: 100%;
        position: relative;
        margin: 0 auto;

        .carousel-item {
            background-color: rgba(0, 0, 0, 0.6);

            .heroH1 {
                color: #000000;
                font-size: 60px;
                font-weight: 500;
                left: 8%;
                position: absolute;
                text-align: left;
                top: 25%;
                z-index: 1001;
            }

            img {
                opacity: 0.7;
            }

            .d-block {
                opacity: 0.7;
            }
        }
    }

    /* Index - Sobre nosotros */
    .sobrenosotros {
        padding: 5% 15%;
        background-color: #F5EAD4;
        gap: 20px;
        height: 400px;

        p {
            color: #412C25;
        }

        .button {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;

            .conocenosbtn {
                border-radius: 14px;
                background-color: #412C25;
                color: #F5EAD4;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    /* Index - Muebles */
    .muebles {
        padding: 3% 15%;
    }

    /* Index -Espacios */
    .card-group {
        gap: 20px;
        padding: 5% 15%;

        .card img {
            height: 500px;
            opacity: 1;
        }

        .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FAA51A;
        }
    }

    /* Index - Deco */
    .section_deco {
        background-color: #CF5D20;

        .card_deco {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 2%;
            margin: 2% 15%;
        }

        .img_deco {
            img {
                width: 400px;
                height: 500px;
                opacity: 1;
            }
        }

        .text_deco {
            text-align: center;
            justify-content: center;
            color: #fff;
            margin-left: 5%;

            .p_deco {
                padding: 20% 5%;
                color: #fff;
            }

            .card_deco_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #412C25;
                background-color: #F5EAD4;
                padding: 5px;
                width: 200px;
                margin-left: 35%;
            }
        }
    }

    /* Index - Proyectos a medida */
    .card_proyectos {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 2%;
        margin: 2% 15%;
    }

    .text_proyectos {
        text-align: center;
        justify-content: center;
        color: #412C25;
        margin-right: 5%;

        h3 {
            color: #7B421B;
        }

        .p_proyectos {
            padding: 20% 5%;
            color: #412C25;
        }

        .card_proyectos_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: #7B421B;
            padding: 5px;
            width: 200px;
            margin-left: 30%;

        }
    }

    .img_proyectos {
        img {
            width: 400px;
            height: 500px;
            opacity: 1;
        }
    }

    /* Index - Café */
    .img-dos {
        background-image: url("https://img.freepik.com/foto-gratis/taza-cafe-disposicion-mujeres-textura-madera_1150-12747.jpg?w=996&t=st=1695941139~exp=1695941739~hmac=71a888c7f9115c4934566ec941f9ec61d545e5fa482c061d8e18866e259ef46d");
    }
}

/**----------------------------------------MAIN SOBRE NOSOTROS------------------------ **/